.interactivepopover {
  h3 {
    margin-top: 10px;
  }
  p.popupRefLink {
    cursor: pointer;
    margin-bottom: 10px;
  }
  a {
    color: var(--ifm-color-primary-lightest);
  }
}
// #\:r0\: > p.popupRefLink_src-components-tooltip-module > a
